

/*styles used in all pages*/
.font-family-header {
    font-family: 'Marck Script', cursive;
    color: white;
}
 
.font-family-plain {
    font-family: 'Calligraffitti', cursive;
    letter-spacing: 3px ;
    color: white;
}
 
.text-align-justify {
    text-align: justify;
}





/*styling for navbar

collapsable menu center from
https://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar
*/

.navbar .navbar-collapse {
    text-align: center;
}

/*styling for sticky footer*/

.my-footer {
    display: inline-block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;

}

/*styling for cards*/


.my-img-card {
    
    min-height: 100vh;
    max-height: 60vh;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    
}

  /*additional css for forms*/

  .my-input-100 {
    display: inline-block;
    width: 100%;
}

.my-input-50 {
    display: inline-block;
    width: 50%;
}

/*additional css for prices - copied from bootstrap examples for bootstrap 5*/


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }



