

/* CSS HEX */
--prussian-blue: #162b3dff;
--blue-munsell: #2394b0ff;
--baby-powder: #fefcf9ff;
--cinnamon-satin: #cd587aff;
--dark-purple: #352a3aff;

/* CSS HSL */
--prussian-blue: hsla(208, 47%, 16%, 1);
--blue-munsell: hsla(192, 67%, 41%, 1);
--baby-powder: hsla(36, 71%, 99%, 1);
--cinnamon-satin: hsla(343, 54%, 57%, 1);
--dark-purple: hsla(281, 16%, 20%, 1);

/* SCSS HEX */
$prussian-blue: #162b3dff;
$blue-munsell: #2394b0ff;
$baby-powder: #fefcf9ff;
$cinnamon-satin: #cd587aff;
$dark-purple: #352a3aff;

/* SCSS HSL */
$prussian-blue: hsla(208, 47%, 16%, 1);
$blue-munsell: hsla(192, 67%, 41%, 1);
$baby-powder: hsla(36, 71%, 99%, 1);
$cinnamon-satin: hsla(343, 54%, 57%, 1);
$dark-purple: hsla(281, 16%, 20%, 1);


/*fonts*/
.font-family-headers {
font-family: 'Marck Script', cursive;
}

.font-family-plain {
font-family: 'Roboto', sans-serif;
}

/* SCSS RGB */
$prussian-blue: rgba(22, 43, 61, 1);
$blue-munsell: rgba(35, 148, 176, 1);
$baby-powder: rgba(254, 252, 249, 1);
$cinnamon-satin: rgba(205, 88, 122, 1);
$dark-purple: rgba(53, 42, 58, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #162b3dff, #2394b0ff, #fefcf9ff, #cd587aff, #352a3aff);
$gradient-right: linear-gradient(90deg, #162b3dff, #2394b0ff, #fefcf9ff, #cd587aff, #352a3aff);
$gradient-bottom: linear-gradient(180deg, #162b3dff, #2394b0ff, #fefcf9ff, #cd587aff, #352a3aff);
$gradient-left: linear-gradient(270deg, #162b3dff, #2394b0ff, #fefcf9ff, #cd587aff, #352a3aff);
$gradient-top-right: linear-gradient(45deg, #162b3dff, #2394b0ff, #fefcf9ff, #cd587aff, #352a3aff);
$gradient-bottom-right: linear-gradient(135deg, #162b3dff, #2394b0ff, #fefcf9ff, #cd587aff, #352a3aff);
$gradient-top-left: linear-gradient(225deg, #162b3dff, #2394b0ff, #fefcf9ff, #cd587aff, #352a3aff);
$gradient-bottom-left: linear-gradient(315deg, #162b3dff, #2394b0ff, #fefcf9ff, #cd587aff, #352a3aff);
$gradient-radial: radial-gradient(#162b3dff, #2394b0ff, #fefcf9ff, #cd587aff, #352a3aff);


/*accessibility

need to add - visible for screen readers only - read more on fontawsome

sr-only class in tables
*/

sr-only {
    color: pink;
}





/* flex container */

/* 
Need to check:
- would grid work better than flexbox? 
- default declaration for mobile in the version below and media rule for desktop
- why it doesn't make items 33% in a row after the pictures are loaded, it worked before the pictures were in
- need to add so they strech and fill the space with a small gap between, control padding and marigin
*/
.container {
    display: flex;
    flex-wrap: wrap;
}
.item {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .item{
        flex-basis: 33%;
    }
}
